<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>Boolzap</title>
    <link rel="stylesheet" href="assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app" class="container p-0">
        <div class="sidebar">
            <div class="user p-2">
                <div class="user_img d-flex">
                    <img class=" rounded-circle" :src="contacts[activeContact].avatar" alt="">
                    <h5 class=" ms-2 align-self-center">{{ contacts[activeContact].name }}</h5>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-list"></i>
                </div>
            </div>

            <div class="notifiche align-items-center d-flex">
                <div class="user_img d-flex rounded-circle bg-white align-items-center justify-content-center me-2 ">
                    <i class="bi-bell-slash-fill fs-4" style="color: #8EDAFD;"></i>
                </div>
                <div class=" d-flex justify-content-center flex-column">
                    <h6>Ricevi notifiche di nuovi messaggi</h6>
                    <span><a href="#"> Attiva notifiche Desktop</a></span>  
                    
                </div>
            </div>
            <div class="search d-flex align-items-center p-1">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" class="form-control me-2" v-model="searchUser">
            </div>
            <div class="dinamic_container">
                <div 
                    class="dinamic_card mb-2 d-flex justify-content-between"
                    v-for="(element, index) in filter"
                    :key="element.name"
                    :class="{ active: element === contacts[activeContact] }"
                    @click="selectContact(element)">
                    
                    <div class="d-flex dinamic_user justify-content-between">
                        <div class="d-flex">
    
                            <div class="user_img me-2 d-flex">
                                <img class="rounded-circle" :src="element.avatar" alt="">
                            </div>
                            <div class=" pt-1">
                                <h6>{{element.name}}</h6>
                                <p class="user_mess">{{ element.messages[element.messages.length - 1].message }}</p>  
                                <!-- accesso a message -->
                            </div>
                        </div>
    
                        <div class="time d-flex justify-content-between align-items-start">
                            <span>{{ formattedDateTime(getTimeMessage(index))[1] }}</span>
                        
                        </div>
                    </div>
   
                </div>

            </div>
        </div>

        <div class="main">
            <div class="user p-3">
                <div class=" d-flex ">

                    <div class="user_img d-flex me-2">
                        <img class=" rounded-circle" :src=" contacts[activeContact].avatar" alt="">
    
                    </div> 
                    <div>
                        <h5>{{ contacts[activeContact].name }}</h5>
                        <span>Ultimo accesso il: {{ formattedDateTime(getTimeMessage(activeContact))[0] }} {{ formattedDateTime(getTimeMessage(activeContact))[1] }}</span>
                    </div>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                </div>
            </div>
            <div class="chat p-3" ref="chatContainer">
            
                <div v-for="(element, index) in contacts[activeContact].messages">
                    <div class=" d-flex justify-content-end">
                        <div v-if="element.status === 'sent'" class=" d-flex flex-column border-1 rounded-2  mess_sent">
                            {{ element.message }}
                            <!-- {{ element.status === 'deleted' ? element.message : element.message }} -->
                            <div class=" d-flex justify-content-between align-items-center">
                                <div class="dropdown d-flex justify-content-end">
                                    <button class="btn btnDelete" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Opzioni
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a @click="delete(element.message)" class="dropdown-item" href="#">Elimina</a></li>

                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editModal" 
                                            @click="editedMessageIndex = index">Modifica</a>
                                            
                                        </li>

                                    </ul>
                                </div> 
                                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="editModalLabel">Modifica messaggio</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <textarea class="form-control" v-model="editedMessage"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                          <button type="button" class="btn btn-primary" @click="editMessage(editedMessageIndex, editedMessage)" data-bs-dismiss="modal">Salva</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <span class="data_message d-flex justify-content-end">{{ formattedDateTime(element)[1] }}</span>
                            </div>
            
                        </div>
                    </div>
            
                    <div class=" d-flex justify-content-start">
                        <div v-if="element.status === 'received'" class=" d-flex flex-column mess_received border-1 rounded-2">
                            {{ element.message }}
                            <span class="data_message d-flex justify-content-end">{{ formattedDateTime(element)[1] }}</span>
                        </div>
                    </div>
            
                </div>
            
            
            </div>
            <div class="bottom_nav d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-emoji-smile"></i>
                <input class="form-control border-0" @keyup.enter="addMessage(newItem, activeContact)" type="search" v-model="newItem" />
                <i class="fa-solid fa-microphone"></i>
            </div>


        </div>




    </div>


    <!-- IMOPORT BOOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <!-- IMPORT VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <!-- IMPORT JAVASCRIPT -->
    <script src="assets/script.js"></script>
</body>

</html>