*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.85rem;
}
body{
    height: 100vh;
    background: linear-gradient( to bottom, green 20%, #d9dbd4 20%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    height: 85%;
    width: 70%;
    background-color: white;
    

   
}
.sidebar{
    width: 40%;
    background-color: white;
    
}
.main{
    width: 60%;
    position: relative;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #EAEAEA;
    padding: 5px;
}

.search_chat input{
    width: 350px;
}
.user_img{
    width: 50px;
    height: 50px;
}
.user_img h5{
    margin: 10px;
}
img{
    width: 100%;
    object-fit: contain;
}
.notifiche{
    background-color: aqua;
    padding: 5px;
}
.dinamic_card{
    width: 100%;
    padding: 5px;
    border: 1px solid black;
}
.chat{
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);
    height: 100%;
    width: 100%;
    
}
.bottom_nav{
    height: 60px;
    background-color: #EAEAEA;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.write_message input{
    width: 550px;
}
.mess_sent{
    height: 50px;
    width: 200px;
    border: 1px solid green;
    margin: 20px;
    padding: 10px;
}
.mess_received{
    height: 50px;
    width: 200px;
    border: 1px solid red;
    margin: 20px;
    padding: 10px;


}
i {
    color: rgb(182, 182, 182);
    margin-inline: 5px;

}
.time{
    right: 0;
}
.dinamic_user{
    width: 100%;
}
.active {
    color: red;
}